.banner {
	position: relative;
	height: 85vh;
	margin-bottom: 15vh;
	.banner__content {
		width: 100%;
		height: 100%;
		.banner_bgr {
			height: 85vh;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	.banner__overlay {
		position: absolute;
		inset: 0;

		background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
	}
	.banner__details {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0 40px;
		.banner--name {
			color: #fff;
			font-size: 4rem;
			font-weight: 500;
			letter-spacing: -3px;
			margin-bottom: 10px;
			text-align: left;
		}

		.banner--btns {
			display: flex;
			gap: 10px;
			button {
				position: relative;
				color: #eee;
				font-size: 0.9rem;
				cursor: pointer;
				transition: all 0.3s linear;
				border-radius: 3px;
				background-color: #111;
				overflow: hidden;
				width: 108px;
				height: 34px;
				display: flex;
				justify-content: center;
				align-items: center;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 100%;
					background-color: #414141be;
					transition: all 0.4s ease-in-out;
				}
				span {
					position: absolute;
					inset: 0;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&:hover {
					background-color: transparent;
					&::before {
						right: 0;
					}
					// box-shadow: inset 10em 0 0 0 rgba(102, 102, 102, 0.521);
				}
			}
			.banner--play {
				background-color: #ff0900;
				&:hover {
					color: #111;
					&::before {
						background-color: rgba(255, 255, 255, 0.555);
					}
				}
			}
		}
		.banner--dsc {
			margin-top: 10px;
			width: 60%;
			max-width: 340px;
			text-align: left;
			color: #eee;
			font-weight: lighter;
			font-size: 0.8rem;
			line-height: 20px;
			font-weight: 300;
			height: 60px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3; /* number of lines to show */
			line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}
